
@{
    ViewBag.Title = "CkEditor";
}

<h2>CkEditor</h2>

<textarea id="Answer" class="ckeditor">content</textarea>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        
    </script>
}

